:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: #f8f3f7;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #f8f3f7;
  padding: 5px;
  border-radius: 8px;
  gap: 5px;
}

h3 {
  margin-bottom: 15px;
}

li {
  width: 95%;
  height: 4rem;
  background-color: white;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}

.top5 .wrapper-contetent {
  display: flex;
}

.top5-box {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 1rem 3rem;
}

.page {
  max-width: 130rem;
  padding: 2rem;

  margin: 0 auto;
}

.first-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #543979;

  margin-bottom: 5rem;
}

header {
  border-bottom: 1px solid #d1d0d0;

  margin-bottom: 2rem;
}

.wrapper-content {
  padding: 1rem 3rem;
}

header .wrapper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

header img {
  width: 4rem;
  height: 4rem;
}

main {
  display: flex;
  gap: 5rem;
}

main > div {
  width: 50%;
}

.myteams,
.top5 {
  background-color: white;
  border-radius: 8px;
}

tr:first-child td:first-child {
  border-right: 1px solid #d1d0d0;
}

tr {
  border-bottom: 1px solid #d1d0d0;
}

tr + tr:hover {
  background-color: rgba(152, 55, 125, 0.25);
}

table {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-collapse: collapse;

  padding: 0 10rem;
}

tbody tr:nth-of-type {
  background-color: #ffffff;
}
td,
th {
  padding: 1rem;
}
td.real {
  text-align: right;
}
td.real:before {
  content: "R$";
}
tfoot tr {
  background-color: #333;
  color: #fff;
}
